[Unit]
Description=VASPilot MCP Server
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=duguex
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=read-only
WorkingDirectory=/home/duguex
Environment=PMG_VASP_PSP_DIR=/mnt/shared/VASP_POT
ExecStart=/home/duguex/.conda/envs/dgkan_rocm_3.11/bin/vaspilot_mcp --config /home/duguex/vasp_incar/vasp-mcp-systemd-services/vaspilot_config.yaml --port 8933 --host 0.0.0.0
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
